/*

Sitewide

*/

html {
	//-webkit-overflow-scrolling : touch;
	-webkit-tap-highlight-color : rgba(0,0,0,0);
	-webkit-text-size-adjust : 100%;
	-ms-text-size-adjust : 100%;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	direction: ltr;
	background: white;
	font-size: 62.5%;
	height: 100%;
}

body {
	margin : 0;
	padding : 0;
	width : 100%;
	background-color : $acWhite;
	font-family : $bodyFont;
	font-weight: $bodyFontWeight;
	font-size: $bodyFontSize1;
	line-height: 1.5em;
	color : $bodyColor;

	&.no-scroll,
	&.navOpen {
			//position: fixed;
			overflow-x: hidden;
	}
}

main[role="main"] {
	z-index: 2;
	position: relative;
	background: white;
}