/*

Vars

*/

//Body Copy
$headingFont: 'futura-pt', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$bodyFont: 'Transat Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$bodyFontWeight: 400 !default;

$bodyFontSize1: 18px;
$bodyFontSize2: 16px;

$acBlack: #202020;
$acDarkGray: lighten($acBlack, 10%);
$acMidGray: #808080;
$acLightGray: #C8C8C8;
$acWhite: whitesmoke;

//Colors
$bodyColor: #505050;
$headingColor: #333;


$acBorderColor: gainsboro;

$acPalette1: #936f21;
$acPalette2: #125a72;
$acPalette3: #522c5d;
$acPalette4: #962131;
$acPalette5: #ba5f68;
$acPalette6: #4a3db1;
$acPalette7: #ffaf46;
$acPalette8: #ed8d39;

$noticias: $acPalette1;
$articulos: $acPalette2;
$entrevistas: $acPalette3;
$conciertos: $acPalette4;
$criticas: $acPalette5;
$danza: $acPalette6;
$editoriales: $acPalette7;
$interferencias: $acPalette8;

$acColorList: $acPalette1 $acPalette2 $acPalette3 $acPalette4 $acPalette5 $acPalette6 $acPalette7 $acPalette8;



// Transitional shit
$acTransSpeed: .35s;
$acTransEasing: ease-out;



//Other
$padding: ms(2);
$paddingH: 6.18%;
$mobileHeaderHeight: 58px;

// Breakpoints
$mainBr: 1025px;
$tablet: 767px;
$navBr: $tablet;

$goldenBreakpoint: 1023px;
$hugeBreakpoint: 1230px;


// Golden Columni
$columnFixed: 320px;
$column: 68.54%;
$column2: 76.4%;

$golden: 61.8%;

$padding1: 6.18%;
$padding2: 11.089%;

$headerWidth: 4em;
$columnWidth: 16.18em;

$sidebarWidth: 23.6%;


/* Boy's Band Z-Index Scale */
$boysBandIndex: justinBieber, jonasBrothers, backstreetBoys, nsync, takeThat;

/*
Usage:

	element {
		z-index: index($boysBandIndex, justinBieber);
	}
*/





