/*

Category Banner

*/

.catBanner {

	background: $acWhite;

	h1 {
		@extend .h2;
		margin-bottom: 0;
	}
	h2 {
		@extend .h5;
		margin-bottom: -(ms(-1));
	}

	p {
		font-size: .8em;
		line-height: 1.5em;
	}

	h1 + p { margin-top: ms(-2); }
	*:last-child { margin-bottom: 0; }

	.navicon:after { @extend .h5; }
}

nav.filter { width: 100%; }

.catBanner {

	@include maxHeighter();
	button { @include visually-hidden; }


	height: 100%;
	border-right: 1px solid $acBorderColor;

	header {
		height: $golden;
		padding: 4em $padding2 ms(1);

		.flexbox & {
			display: flex;

		  // To the Left
		  align-items: flex-end;
		  justify-content: flex-start;
		}

		border-bottom: 1px solid $acBorderColor;
		background: $acWhite;
	}

	.navicon {
		position: absolute;
		top: 1em;
		margin: 0;
		left: $padding2;

		&:after {
			content: 'Menú';
			position: absolute;
			top: 6px;
			left: 30px;
			padding-left: 1em;
		}
	}
}