/*

Golden Layout

*/

.catBanner header { padding: ms(-1) $paddingH; }


@media (max-width: $goldenBreakpoint) {

	header[role="banner"],
	.catBanner { z-index: index($boysBandIndex, backstreetBoys); }

	.catBanner {
		@include maxHeighter();
		button { @include visually-hidden; }
	}
}

@media (min-width: $goldenBreakpoint) {


	// Main Content

	main[role="main"] {
		overflow: hidden;
		transition: transform $acTransSpeed;

		.navOpen & {
			transform: translateX( $columnWidth - $bannerWidth );
		}
	}

	.catBanner {
		height: 100%;
		border-right: 1px solid $acBorderColor;

		header {
			height: $golden;
			padding: 4em $padding2 ms(1);

			.flexbox & {
				display: flex;

			  // To the Left
			  align-items: flex-end;
			  justify-content: flex-start;
			}

			border-bottom: 1px solid $acBorderColor;
			background: whitesmoke;
		}

		.navicon {
			position: absolute;
			top: 1em;
			margin: 0;
			left: $padding2;

			&:after {
				content: 'Menú';
				position: absolute;
				top: 6px;
				left: 30px;
				padding-left: 1em;
			}
		}
	}

	html.image-based {
		body,
		main[role="main"],
		.page-container,
		.feed { height: 100%; }
	}

	.image-based {

		.story {
			@include square(50%);
			float: left;

			border-right: 1px solid $acBorderColor;

			&.featured {
				width: 100%;
				height: 75%;
				clear: left;
				//border-color: transparent;
			}
		}

		// Layout
		&.no-flexbox .story {
			padding: (25vh)/2 $paddingH;
			&.featured { padding: (50vh)/2 $paddingH; }
		}

		&.flexbox .story {
			display: flex;

		  // To the Left
		  align-items: flex-end;
		  justify-content: flex-start;
		}
	}
}


.head-wrapper { z-index: 0; }
header[role="banner"],
main[role="main"] {
	position: relative;
	z-index: 1;
	background: whitesmoke;
}