/*

Golden Layout

*/

.catBanner header { padding: ms(-1) $paddingH; }


@media (max-width: $goldenBreakpoint) {

	header[role="banner"],
	.catBanner { z-index: index($boysBandIndex, backstreetBoys); }

}

@media (min-width: $goldenBreakpoint) {

	// Main Content

	main[role="main"] {
		margin-right: $sidebarWidth;
		transition: transform $acTransSpeed;
		padding-top: $bigHeaderHeight;
	}


}

header[role="banner"],
main[role="main"] {
	//z-index: 1;
}