/*

Header

*/

$headerBreakpoint: $goldenBreakpoint;

header[role="banner"] {
  $acBorderColor: white;

  background: $acBlack;
  color: white;

	position: relative;
	text-align: left;
  height: $smallHeaderHeight;


  position: fixed;
  width: 100%;
  z-index: 3;

  border-bottom: 1px solid $acBorderColor;

  * { color: inherit !important; }

  .logo-holder {
    position: absolute;
    @include square(100%);
    @include position(0,0,0,0);
    text-align: center;
  }

  .category-nav { letter-spacing: none; }

  button.is-active { color: white; opacity: 1; }

  nav.toggle-nav {
    display: table;
    @include square(100%);

    button {
      height: 100%;
      display: table-cell;
      vertical-align: middle;
      padding: 0 $paddingH;
      width: 50%;

      &:first-of-type { text-align: left; }
      &:last-of-type { text-align: right; }
    }

  }

  .logo-holder {
    margin: 0 auto;
    display: table;
    height: 100%;
    width: 50%;
  }

  .site-logo {
    display: table-cell;
    vertical-align: middle;

    a {  }
  }

  .category-nav { @include visually-hidden(); }

  //Sizin'
  transition: all $acTransSpeed;
  opacity: .8;
  .site-logo { transition: transform $acTransSpeed; }

  filter: grayscale(0.5) blur(.001em);
  &:hover { filter: none; }

  &.big {
    height: $bigHeaderHeight;
    opacity: 1;
    filter: none;
    .site-logo { transform: scale(1.6) }
  }

  &.hide {
    transform: translateY(-100%);
  }
}
