/*

Header

*/

header[role="banner"] {
  @extend .clearfix;
	position: relative;
	text-align: left;

  h1 {
    float: left;
    margin: 0;
  }

  button {
  	float: right;
    margin: 0 ms(-2);
  }


  background: whitesmoke;
}
