/*

Navigation

*/

$navBreakpoint: $goldenBreakpoint;

/* Styling */

#nav,
nav.filter {
  $acBorderColor: $acDarkGray;

	background: $acBlack;
	color: white;

	ul {
		padding: 1em 0;
		border-bottom: 1px solid $acBorderColor;
	}
	li { list-style: none; }
	.nav-block { border-bottom: 1px solid $acBorderColor; }

	a, p {
		@extend .clearfix;
		font-weight: 500;
		display: block;

		@extend .h5;
		margin: 0;
		padding: ms(-2) 0;
		text-decoration: none;

		color: inherit;
	}

	.legal a { padding: ms(-3) 0; }
	.nav-block a { padding: 1em 0; }

	a,p,
	.legal a,
	.nav-block a {
		padding-left: $padding1;
		padding-right: $padding1;
	}

	a {
		&:before {
			@include icon("\f0c8");
			position: relative;
			top: -1px;
			width: 1em;
			margin-right: 1em;
		}
	}

	.links a {
		font-weight: 400;
		text-transform: none;
		letter-spacing: 0;
		opacity: .8;
		&:before { visibility: hidden; }
	}

	@media (min-width: $navBreakpoint) {

		header {
			@include clearfix;
			padding: 1.5em;
			border-bottom: 1px solid $acBorderColor;

			h1 {
				font-size: 2em;
				margin-bottom: 0;
				width: 50%;
				white-space: nowrap;
				float: left;
			}

			button {
				float: right;
			}
		}

		a,p,
		.legal a,
		.nav-block a,
		header {
			padding-left: $padding2;
			padding-right: $padding2;

			h1 { font-size: ms(1); }
		}
	}
}

#nav { z-index: index($boysBandIndex, jonasBrothers); }





/* Off Canvas Layout */

$distance: 50%;

.js {

	#nav {
		@include position($mobileHeaderHeight,0,0,0);
		height: 100%;
		z-index: 2;
	}

	.navOpen{

		.head-wrapper { z-index: 1; }

		#nav {
			overflow-y: scroll;
			-webkit-overflow-scrolling: touch;
		}
	}
}

@media (max-width: $navBreakpoint) {
	#nav { width: 100%; }

.js {
	#nav {
		transition: transform $acTransSpeed;
		transform: translateX(-100%);
		position: absolute;
		header { @include visually-hidden(); }
	}

	.navOpen #nav {
		transform: translateX(0);
	}
}

}

@media (min-width: $navBreakpoint) {

	.head-wrapper {
		position: fixed;
		height: 100%;
		width: $columnWidth;

		opacity: 0;
		z-index: -1;
		transition: opacity $acTransSpeed, z-index $acTransSpeed;
	}

	#nav {
		top: 0;
		width: 100%;
	}
	.navOpen .head-wrapper { opacity: 1; z-index: auto; }

	nav.filter {
		height: 100% - $golden;
		ul { min-height: 100%; }
	}
}







#nav a {
	&.top-reads:before { @include icon("\f06e") }

	&.noticias:before { @include icon("\f1ea") }
	&.articulos:before { @include icon("\f040") }
	&.entrevistas:before { @include icon("\f086") }
	&.conciertos:before { @include icon("\f130") }
	&.criticas:before { @include icon("\f0e3") }
	&.opinion:before { @include icon("\f140") }
	&.tendencias:before { @include icon("\f06d") }

	&.quienes-somos:before { visibility: hidden; color: transparent; }
}