/*

Feed


*/

.feed {
	@extend .clearfix;

	// Lobotomized Owl Selector
	* + * { margin-top: ms(1); }
	> *:last-child { margin-bottom: 0; }


	> header {
		padding: ms(-2) $paddingH;
		text-align: center;
		color: white;
		> * { color: inherit !important; }
		background: $acBlack;

		h1 {
			@extend .h6;
			margin-bottom: 0;
		}

		& + * { margin: 0; }

		@media (min-width: $goldenBreakpoint) { @include visually-hidden(); }
	}

	.wrap {
		@extend .clearfix;
		clear: both;
		padding: 0 $paddingH;
		@media (min-width: $goldenBreakpoint) {
			padding: 0 $paddingH / 2;
			margin: 0;
		}
	}
}