/*

Article

*/

$contentBr1: 520px;
$contentBr2: $goldenBreakpoint;

.story {
	padding: ms(1) $paddingH;
	position: relative;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;

	* + * { margin-top: 1em; }

	.feed & {
		text-align: left;
		overflow: hidden;
		background: none !important;
		padding: 0;

		header { *:last-child { margin: 0 !important; } }

		.image {
			margin: 0 auto;
			img {

				width: 100%;
				height: auto;
			}
			@media (max-width: $contentBr1) { margin-top: 1em; }
		}

		a { text-decoration: none; }


		@media (min-width: $contentBr1) {
			border: none;
			width: 50%;
			float: left;
			margin-top: 0;
			padding: 0;

			&:nth-of-type(odd) {
				clear: left;
				padding-right: $paddingH/2;
			}
			&:nth-of-type(even) {
				padding-left: $paddingH/2;
			}
		}

		@media (max-width: $contentBr2) {
			border-top: 1px solid $acBorderColor;
		}

		@media (min-width: $contentBr2) {
			border-bottom: 1px solid $acBorderColor;
			display: table;
			width: 100%;
			float: none;
			clear: both;

			padding: 2em $paddingH/2;

			header,
			.image {
				display: table-cell;
				vertical-align: middle;
			}
			.image {
				width: 23.6%;
				max-width: 280px;
			}
			header {
				padding: 0;
				padding-left: 6.18%;
			}
		}




		/* Heading Behaviour */
		h1 {
			@extend .h4;
			font-weight: 500;
			margin-bottom: ms(-3);
			line-height: 1em;
		}

		@media (min-width: $contentBr2) {
			h1 { font-size: 2em }
			.body { @include visually-hidden() }
		}

		@media (min-width: 1240px) { h1 { font-size: ms(2) } }

	}
}