/*

Detail List

*/

.story-details {
	color: $acMidGray;

	> a,
	> time {
		text-decoration: none;

		&:before {
			content: ' / ';
			opacity: .6;
		}
	}

	.feed & { margin-left: 3px; }

	span { display: inline; }

	.cat-title {
		display: inline;
		* { display: inline; }
		&:before {
			content: ' / ';
			color: $acMidGray;
		}
	}
}