/*

Site Logo

*/

.site-logo {
	font-weight: 500;
	white-space: nowrap;
	color: inherit;

	header[role="banner"] & { @extend .h5; }

	// Cool thing:
	/*
	font-size: 3em;
	@media (max-width: $goldenBreakpoint) {
   font-size: $bodyFontSize2;
   text-transform: uppercase;
   letter-spacing: 2px;
	}
	*/
}