/*

	Navicon Transformicon

*/

.transformicon {

  border:none;
  background:none;

  appearance: none;
  cursor: pointer;
  user-select: none;

  opacity: .8;

  &:hover { opacity: 1; }

  font-size: 1.2em;
}


@media (min-width: $goldenBreakpoint) {
  .navicon {
    font-size: ms(1);
    &.entypo-cancel { font-size: 1.5em; }
  }
}